@model Lapiwe.GMS.FrontEnd.ViewModels.BestuurdersLijstViewModel

<div style="margin-top:20px">
    <h1 style="float:left; margin-top:0px;">Bestuurdersoverzicht</h1>
    <a class="btn btn-success" style="float:right; margin-top:10px"
        asp-controller="Bestuurders"
        asp-action="RegistratieOverzicht">
        Bestuurder toevoegen
    </a>
</div>
<div style="clear:both"></div>

<div class="row">
    @foreach (var bestuurder in Model.Bestuurders)
    {
        <div class="col-sm-6 col-lg-4">
            <div class="panel panel-@(bestuurder.Processed ? "primary" : "default")">
                <div class="panel-heading">
                    @if (false == bestuurder.Processed)
                {
                        <p style="float:right; font-style:italic">Deze bestuurder wordt verwerkt</p>
                    }
                    <h3 class="panel-title">@bestuurder.FullName()</h3>
                </div>
                <div class="panel-body">
                    <i class="fa fa-phone"> @bestuurder.Telefoonnummer</i>
                    <br />
                    <i class="fa fa-envelope-o"> @bestuurder.Emailadres</i>
                    <br />
                    <br />
                    <i class="fa fa-home"> @bestuurder.Adres</i>
                    <br />
                    <i class="fa fa-map-marker"> @bestuurder.Postcode, @bestuurder.Woonplaats</i>
                    <br />
                </div>
            </div>
        </div>
    }
</div>
